<app-sidenav></app-sidenav>
<div class="container-sport100">
    <div class="col s12">
        <h1 style="text-align: center;">VER ACTIVIDADES </h1>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">mode_edit</i>
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label for="autocomplete-input">Buscar</label>
            </div>
            <div class="row">
                <div class="div col s1"><a class="waves-effect waves-light btn-large"><i class="material-icons">search</i></a>
                </div>
                <div class="div col s5"><a href="#idmodalnuevaactividad" class="waves-effect waves-light btn-large modal-trigger"><i class="material-icons right">add</i>Nueva
            actividad</a></div>

            </div>

        </div>
    </div>
    <div id="idmodalnuevaactividad" class="modal col s10 offset-s1">
        <div class="modal-content">
            <div class="card col s12">
                <div class="card-content">
                    <span class="card-title">Agregar una Actividad</span>
                    <form (ngSubmit)="guardarNuevaActividad(formNew)" #formNew="ngForm" class="col s12">
                        {{formNew.value | json}}
                        <div class="row">
                            <div class="input-field col s6">
                                <input ngModel type="text" name="nombre" id="nombre" placeholder="Nombre Actividad">
                                <label>Nombre Actividad</label>
                            </div>
                            <div class="input-field col s6">
                                <input ngModel type="text" name="lugar" id="lugar" placeholder="Lugar del evento">
                                <label>Lugar</label>
                            </div>
                            <div class="input-field col s6">
                                <select id="selectCurso">
                  <option value="" disabled selected>selecciona el curso</option>
                </select>
                                <label>Nombre del curso</label>
                            </div>
                            <div class="input-field col s6">
                                <select id="selectCategoria">
                  <option value="" disabled selected>selecciona categoria del curso</option>
                </select>
                                <label>Identificador Categoria</label>
                            </div>
                            <div class="input-field col s6">
                                <input ngModel type="text" class="datepicker" name="fecha" id="fecha" placeholder="Fecha evento">
                                <label>Fecha</label>
                            </div>
                            <div class="input-field col s6">
                                <input ngModel type="text" class="timepicker" name="horainicio" id="horainicio" placeholder="Hora de inicio">
                                <label>Hora</label>
                            </div>
                            <div class="input-field col s6">
                                <select id="selectDuracion">
                  <option value="" disabled selected>selecciona la duracion en horas</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                                <label>Duracion</label>
                            </div>
                            <div class="input-field col s12">
                                <textarea ngModel type="text" name="observaciones" id="observaciones" class="materialize-textarea" placeholder="Observaciones del Evento"></textarea>
                                <label for="observaciones">observaciones</label>
                            </div>
                            <button type="submit" class="btn waves-effect waves-light orange right">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn modal-action modal-close">close</a>
        </div>
    </div>
    <table class="centered">
        <thead>
            <tr>
                <th>Nombre Actividad</th>
                <th>Lugar</th>
                <th>Curso Participante</th>
                <th>Fecha</th>
                <th>Hora Inicio</th>
                <th>Duracion</th>
                <th>Mas Detalles</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>entranamiento femenino</td>
                <td>Canchas Estadio palogrande</td>
                <td>Futbol 01</td>
                <td>23 Abril</td>
                <td>8 am</td>
                <td>5 horas</td>
                <td><i class="material-icons">assignment</i></td>
            </tr>
            <tr>
                <td>entranamiento femenino</td>
                <td>Canchas Estadio palogrande</td>
                <td>Futbol 01</td>
                <td>23 Abril</td>
                <td>8 am</td>
                <td>5 horas</td>
                <td><i class="material-icons">assignment</i></td>
            </tr>
            <tr>
                <td>entranamiento femenino</td>
                <td>Canchas Estadio palogrande</td>
                <td>Futbol 01</td>
                <td>23 Abril</td>
                <td>8 am</td>
                <td>5 horas</td>
                <td><i class="material-icons">assignment</i></td>
            </tr>
        </tbody>
    </table>
</div>