<div>
    <a href="#" class="sidenav-trigger" data-target="side-menu">
        <i class="material-icons">menu</i>
    </a>

    <ul id="side-menu" class="sidenav">
        <li>
            <div class="user-view">
                <br>
                <h4 class="m-0">{{usuario}}</h4>
                <p class="font-weight-light text-muted mb-0">{{rol}}</p>
                <br>
                <br>
            </div>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="#!" routerLink="/actividadesList">Lista Actividades</a></li>

        <li>
            <div class="divider"></div>
        </li>
        <li><a href="#!" routerLink="/estudiantes"> Informe Estudiantes</a></li>

        <li>
            <div class="divider"></div>
        </li>

        <li><a class="waves-effect" href="#!">Informe Pagos mensuales </a></li>

        <li>
            <div class="divider"></div>
        </li>
        <li><a routerLink="/login" href="#!">Log Out </a></li>

        <li>
            <div class="divider"></div>
        </li>
    </ul>

</div>